extend layout
block content
  p
    | This is a test para 1
    | this is second line
  p
    | this is the test second para
    | this is the second line of the second para
block sidebar
  .widget
    h1 Widget
    p
      | this is the first line of side para one
      | this is the second line of side para one
    p
      | this is the second line of second para
